/* Your custom styles */
body{
    background-color: #22313F;
}
.jumbotron{
    background-color: #1a6991;
}

#searchMobi{
    color:#fff;
}


.mobi{
    color:#CF000F;
}

.mobi-y{
    color:#95A5A6;
}

#mobi img{
    width:100%;

    
}


@media(min-width:960){

#mobi .col-md-3 .well{
    height :390px;
    color:rgb(228, 213, 213);
}

#mobi .col-md-3 img{
    height: 240px;
}
}
#mobi .col-md-3 .well{
    height :390px;
    color:rgb(228, 213, 213);
}

#mobi .col-md-3 img{
    height: 240px;
}


.col-md-3{
    padding-bottom: 7vh;
}
#mobiInfo{
    background-color: #191919;
}
#mobiInfo .list-group-item{
    background-color: #2F2F2F;
    color:#979797;
}

.col-md-3 .well{
        background-color: rgb(9, 10, 12);
}
.navbar{
    border-bottom: 1px solid #0e7ce2;
}